body {
  background-color: #0096c7;
  padding-bottom: 25px;
}

table {
  margin: 0px !important;
}

td {
  vertical-align: middle !important;
}

.main-page-header {
  background-color: #00b4d8;
  color: #03045e;
  min-height: 200px;
  margin-top: 10px;
  border-radius: 5px;
}

.main-page-header-text {
  display: block;
  margin: 0 auto;
  min-width: 100%;
  text-align: center;
  min-height: 48px;
}

.adisplay-main {
  font-family: sans-serif;
  background-color: #00b4d8;
  color: #03045e;
  margin-top: 5px;
}

.adisplay {
  
  font-size: 1.2rem;
  width: 100%;
}


